@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-outline-info" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
    <br />
}
<a asp-page="./Edit" class="btn btn-outline-primary">Add New</a>

